" Reload script command
nnoremap <space><space> :source ~/.ideavimrc<CR>

" General
    set number rnu
    set incsearch hlsearch ignorecase smartcase
    "set showmode
    set ideajoin
    "set idearefactormode keep
    set clipboard+=unnamed  " Copy to the system clipboard

" Plugins
    set surround            " Modifying surrounding parenthesis/braces/etc
    set commentary          " Commenting
    set argtextobj          " Argument and parameter text objects
    set textobj-entire      " Whole file text object

" IdeaVim Actions
    "nnoremap \g :action FindInPath<CR>

    nnoremap gd :action GotoDeclaration<CR>
    nnoremap gi :action GotoImplementation<CR>
    nnoremap gu :action FindUsages<CR>
    nnoremap \r :action RenameElement<CR>

    nnoremap <C-m> :action MoveEditorToOppositeTabGroup<CR>

    nnoremap gs :action GotoSuperMethod<CR>
    "nnoremap gb :action JumpToLastChange<CR>

"    nnoremap <c-o> :action Back<cr>
 "   nnoremap <c-i> :action Forward<cr>

" " " Normal mode
nnoremap <C-j> :m .+1<CR>==
nnoremap <C-k> :m .-2<CR>==
" " Insert mode
"inoremap <C-j> <ESC>:m .+1<CR>==gi
"inoremap <C-k> <ESC>:m .-2<CR>==gi
" " Visual mode
"vnoremap <C-j> :m '>+1<CR>gv=gv
"vnoremap <C-k> :m '<-2<CR>gv=gv

